@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic|Londrina+Solid);

body {
	color: #684f40;
	font: 26px 'Londrina Solid', Tahoma, sans-serif;
	background:#fafbf9;
}


.ticket {
	width:500px; border:1px solid rgb(200,200,200);
	padding:20px; margin:30px;float:left;
	position:relative;
	background:white;
}

.ticket:before, .ticket:after
{
    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.ticket:after
{
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}




.header {
	padding-bottom: 20px; margin-bottom:20px; border-bottom:1px solid #684f40 ;
	text-align:center;
}

.artikelen { position:relative;}
.artikelen:before{
	content: "";
	position: absolute;
	top: -30px;
	left:234px;
	width: 31px;
	height: 15px;
	
	background: url("http://www.doosjechocolade.nl/images/webshop_main/detail-icon.png") no-repeat scroll left top transparent;
}



.oms { width:400px;}
.prijs { width:100px;text-align:right;}
.prijs.totaal { border-top:1px solid #684f40;}
.stuksprijs { font-family: Open sans;
							font-size:18px;
						}


.grandtotaal { background:#ed008c; color:white;}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

pre { font-size:10px;}